
.gameview {
  position: relative;

  height: 100%;
  display: flex;
  flex-direction: row;

  & > .controlpanel {
    flex: 0 0 auto;
    width: 240px;
    z-index: 20;
  }

  & > .mainview {
    flex: 1 1 auto;
    overflow: hidden;

    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;

    background: repeating-linear-gradient(45deg, #CCC 50px, #888 52px, #DDD 55px, #EEE 57px, #DDD 59px, #888 62px, #CCC 64px, #BBB 74px, #CCC 84px);
    z-index: 10;
    
    & > .container {

      position: relative;
      top: 0;
      left: 0;




    }


  }

}