
@mixin mapcalc($size) {
  margin: 10px;

  & > .row {
    &:nth-child(even) {
      left: $size / 2;
    }
    & > * {
      width: $size;
      height: $size;

    }
  }
}


.mapview {

  z-index: 10;

  & > .row {
    position: relative;
    display: flex;
    flex-direction: row;

    left: 0;

  }

  &.zoom-further {
    @include mapcalc(5px);

    .city {

      &:before {
        font-size: 5px;
      }

      label {
        display: none;
      }

      span {
        font-size: 5px;
      }
    }
  }

  &.zoom-far{
    @include mapcalc(20px);

    .city {

      &:before {
        font-size: 16px;
      }
      label {
        display: none;
      }
    }
  }

  &.zoom-normal {
    @include mapcalc(40px);

    .city {

      &:before {
        font-size: 32px;
      }
      label {
        font-size: 10px;
      }

      span {
        font-size: 20px;
      }
    }
  }

  &.zoom-near {
    @include mapcalc(60px);

    .city {

      &:before {
        font-size: 40px;
      }
      label {
        font-size: 14px;
      }


      span {
        font-size: 24px;
      }
    }
  }

  &.zoom-nearer {
    @include mapcalc(100px);

    .city {

      &:before {
        font-size: 60px;
      }
      label {
        font-size: 22px;
      }

      span {
        font-size: 32px;
      }
    }
  }

  &.zoom-nearest {
    @include mapcalc(150px);

    .city {

      &:before {
        font-size: 60px;
      }
      label {
        font-size: 22px;
      }

      span {
        font-size: 32px;
      }
    }
  }



}
