@import "../controlareas.scss";

.nextturnview {
  flex: 0 0 auto;
  height: 96px;
  padding: 0 10px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;


  div.button {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    button {
      flex: 1;
      @include iconAndTextButton('\f0c7');
      width: 96px;
      height: 40px;
      font-size: 20px;
      margin: 0;

      display: flex;
      justify-content: center;
      align-items: center;

      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      //box-shadow: none;
      box-shadow: 0 0 5px 3px rgba(0,0,0,0.4);

      &.save {

        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
        border-left: none;

        &:before {
          color: red;
          content: '\f0c7';
        }
      }

      &.next {

        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
        border-right: none;

        &:before {
          color: green;
          content: '\f00c';
        }
      }

    }

    h1 {
      flex: 0 0 auto;
      height: 70px;
      width: 50px;
      background: linear-gradient(#502 0%, #A08 50%, #502 100%);
      font-size: 1.8em;
      font-weight: 600;
      border: solid 2px rgba(0,0,0,0.5);
      box-shadow: 0 0 5px 3px rgba(0,0,0,0.4);
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 20px;
      z-index: 10;
      color: #FDE;
      user-select: none;

    }

    h2{
      color: green;
      font-weight: 600;
      &:before {
        font-family: "FontAwesome";
        content: '\f00c';
        font-size: 24px;
        color: green;
        margin-right: 6px;
      }
    }
  }

}