
.controlview {


  height: 100%;
  //border-right: solid 1px rgba(0,0,0,0.5);
  background-color: white;
  display: flex;
  flex-direction: column;

  box-shadow: 0 0 10px 5px rgba(0,0,0,0.3);

  .knives {

    padding: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(black 0%, #880066 40%, #cc3399 50%, #880066 70%, black 100%);
    box-shadow: inset 0 0 40px 20px rgba(0,0,0,0.5);

  }

  .filler {
    flex: 1 1 auto;
    background-color: #F8F8F8;
  }
}