@import "controlareas.scss";

.hexinfoview {

  @include controlarea(#88CC00);

  div.hexinfo {
    padding: 10px;

    display: flex;
    flex-direction: row;

    div {
      flex: 1 1 auto;
      display: flex;
      justify-content: flex-start;
      align-items: center;

      &.coords {
        display: flex;
        flex-direction: column;
        padding-right: 10px;
        justify-content: center;
        align-items: flex-end;

        p {
          text-align: right;
          font-size: 14px;
          color: #000;
          font-weight: 400;
          margin: 0;
          padding: 0;

          span {
            font-weight: 700;
            font-size: 20px;
            color: #000;
            width: 20px;
            display: inline-block;
          }
        }
      }
    }
    h1 {
      font-size: 24px;
      font-weight: 600;
      letter-spacing: 0.5px;

    }


  }






}