@import "controlareas.scss";

.nextturnview {
  flex: 0 0 auto;
  height: 48px;
  padding: 0 10px;

  display: flex;
  justify-content: center;
  align-items: center;

  border-top: solid 1px black;

  div.turninfo {
    flex: 1;
    font-size: 1.5em;
    font-weight: 500;
  }

  div.button {
    flex: 1;
    button {

      @include iconAndTextButton('\f00c');
      width: 120px;
      height: 40px;
      font-size: 20px;

      &:before {
        font-size: 24px;
        color: green;
      }
    }
  }

}